@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .secondary-text-color {
    color: #D99C2B;
  }

  .navbar-link {    
    display: inline-block;
    position: relative;
    color: #ffbe0b;
  }

  .navbar-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffbe0b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .navbar-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .what-we-offer-container {
    @apply w-full flex flex-col md:flex-row text-center items-start justify-center gap-10 md:gap-3;
  }

  .what-we-offer {
    @apply flex flex-col gap-16 w-full justify-center items-center;
  }

  .what-we-offer-item-container {
    @apply flex h-[7rem] flex-col gap-2 items-center;
  }

  .what-we-offer-item {
    @apply flex items-center justify-center gap-2;
  }

  .what-we-offer-item-text {
    @apply text-sm;
  }

  .where-to-find-us-container {
    @apply flex flex-col items-center justify-center mt-14 gap-14;
  }
}
