.swiper {
  padding: 32;
}

.swiper-slider {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.6;
}

.swiper-pagination-bullet:hover {
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #ffbe0b;
}

.swiper-button-next {
  @apply text-black opacity-60 hover:text-primary hover:opacity-80;
}

.swiper-button-prev {
  @apply text-black opacity-60 hover:text-primary hover:opacity-80;
}

.slider-image {
  opacity: 0.9;
}