.swiper {
  padding: 32;
}

.swiper-slider {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #ffbe0b;
}

.swiper-button-prev {
  color: black;
}

.swiper-button-next {
  color: black;
}

.slider-image {
  opacity: 0.9;
}